<div class="contentImg">
	
	<div class="bdyImg">
		Pudong, Shanghai<br /><span class="imgHeader">Jin Mao Tower</span>
		<div class="infobox">
			<a href="#"><img src="@{'/public/images/china/shanghai/shanghai/pudong/jin_mao_tower/result.jpg'}" alt="" /></a>
		   	<div class="content">
		   		<a class="addBtn" href="#">Add</a>
				<!-- <a class="dismissBtn" href="#">Dismiss</a> -->
		
		   		<div class="clear"></div>
		
		   		<div class="boxDes">
		   			<p>140 characters description aemporit volor autecaes asperna tatur? Odit licium ipienet haritium dolo voluptas porerumque ditate cum, temo expedisi tem init resti.</p>
		   		</div>
		   </div>
		</div>
	</div>
	
	<div class="bdyImg">
		Pudong, Shanghai<br /><span class="imgHeader">Lujiazui Central Greenland</span>
		<div class="infobox">
			<a href="#"><img src="@{'/public/images/china/shanghai/shanghai/pudong/lujiazui_central_greenland/result.jpg'}" alt="" /></a>
		   	<div class="content">
		   		<a class="addBtn" href="#">Add</a>
				<!-- <a class="dismissBtn" href="#">Dismiss</a> -->
		
		   		<div class="clear"></div>
		
		   		<div class="boxDes">
		   			<p>140 characters description aemporit volor autecaes asperna tatur? Odit licium ipienet haritium dolo voluptas porerumque ditate cum, temo expedisi tem init resti.</p>
		   		</div>
		   </div>
		</div>
	</div>
	
	<div class="bdyImgLst">
		Pudong, Shanghai<br /><span class="imgHeader">Shanghai History Museum</span>
		<div class="infobox">
			<a href="#"><img src="@{'/public/images/china/shanghai/shanghai/pudong/sh_history_museum/result.jpg'}" alt="" /></a>
		   	<div class="content">
		   		<a class="addBtn" href="#">Add</a>
				<!-- <a class="dismissBtn" href="#">Dismiss</a> -->
		
		   		<div class="clear"></div>
		
		   		<div class="boxDes">
		   			<p>140 characters description aemporit volor autecaes asperna tatur? Odit licium ipienet haritium dolo voluptas porerumque ditate cum, temo expedisi tem init resti.</p>
		   		</div>
		   </div>
		</div>
	</div>
	
	<div class="clear"></div>
	
	<div class="bdyImg">
		Pudong, Shanghai<br /><span class="imgHeader">Shanghai Science and Technology Museum</span>
		<div class="infobox">
			<a href="#"><img src="@{'/public/images/china/shanghai/shanghai/pudong/sh_science_technology_museum/result.jpg'}" alt="" /></a>
		   	<div class="content">
		   		<a class="addBtn" href="#">Add</a>
				<!-- <a class="dismissBtn" href="#">Dismiss</a> -->
		
		   		<div class="clear"></div>
		
		   		<div class="boxDes">
		   			<p>140 characters description aemporit volor autecaes asperna tatur? Odit licium ipienet haritium dolo voluptas porerumque ditate cum, temo expedisi tem init resti.</p>
		   		</div>
		   </div>
		</div>
	</div>
	
	
</div>