<!-- Main Column -->
<div id="detailCol">
			
	<div class="detailHero">
		<div class="detailHeroTitle"><span class="imgHeader" id="displayName">${location?.displayName}</span> ${location?.currentAddress?.districtAddress}<br /></div>
		 #{if location?.detailImageUrl}
        	<img src="${location.detailImageUrl}" alt="${location?.displayName}" />
         #{/if}
	</div>
			
	<div class="deMainCol">
		<div class="detailTab">OVERVIEW</div>
		<div class="deDesCell">
			#{if location?.longDescription} 
				<a href="/"><img src="@{'public/images/detail/user_B.gif'}" alt="" /></a>
				<span class="orange">Beagle</span> says:
				<p>${location.longDescription}</p>
			#{/if}
			<div class="deBasic">
				<strong>The Basics</strong>
				<div class="deDotLine"></div>
				
					<div class="deBasicLt">
						<p><strong>Address:</strong>
						<br>${location?.currentAddress?.streetAddress}
						<br>${location?.currentAddress?.districtAddress}</p>
						<p>
							<strong>Phone:</strong>
							#{if location?.phone}
								#{list items:location?.phone, as:'phone'}
									<br/>${phone.phone}
								#{/list}
							#{/if}
						</p>
					</div>
				
				<div class="deBasicRt">
					<p><strong>Hours:</strong>
					<br>Mon-Fri 9am-10pm</p>
					<p><strong>Admission:</strong>
					<br>Adult:
					<br>Child:	
				</div>
			</div>
			
			<div class="deFeature"><strong>Features</strong>
				<div class="deDotLine"></div>
					<p><ul>
					<li>Edward Youde Aviary - Birds Collection</li>
					<li>Forsgate Conservatory</li>
					<li>Old and Valuable Trees</li>
				</ul></p>
			</div>
			<div class="clear"></div>
			<div class="buttonRow"><a href="#" class="blueBtn" id="da${location?.id}">add to knapsack ></a></div>
		</div>
		
		<div class="detailTab">STORY</div>	
		<!-- bottom left column -->
		<div class="deUserLt">
			<div class="deDesCell">
				<a href="/"><img src="@{'public/images/detail/user_01.jpg'}" alt="" /></a>
				<span class="orange">Shannon M.</span> says:
				<div class="deDes">
				<p>DESCRIPTION - Designed to look anything but natural, Hong Kong Park is one of the most unusual parks in the world. </p>
				</div>
				<a href="/">Read More ></a>
			</div>
					
			<div class="deDesCell">
				<a href="/"><img src="@{'public/images/detail/user_02.jpg'}" alt="" /></a>
				<span class="orange">Whitter</span> says:
				<div class="deDes">
				<p>DESCRIPTION - Designed to look anything but natural, Hong Kong Park is one of the most unusual parks in the world. </p>
				</div>
				<a href="/">Read More ></a>
			</div>
		</div>
				
		<!-- bottom right column -->	
		<div class="deUserRt">
			<div class="deDesCell">
				<a href="/"><img src="@{'public/images/detail/user_03.jpg'}" alt="" /></a>
				<span class="orange">Jack</span> says:
				<div class="deDes">
					<p>DESCRIPTION - Designed to look anything but natural, Hong Kong Park is one of the most unusual parks in the world. Designed to look anything but natural, Hong Kong Park is one of the most unusual parks in the world.</p>
				</div>
				<a href="/">Read More ></a>
			</div>
				
			<div class="deDesCell">
				<a href="/"><img src="@{'public/images/detail/user_04.jpg'}" alt="" /></a>
				<span class="orange">Ross</span> says:
				<div class="deDes">
					<p>DESCRIPTION - Designed to look anything but natural, Hong Kong Park is one of the most unusual parks in the world. </p>
				</div>
				<a href="/">Read More ></a>
			</div>
		</div>
	</div>	
</div>		
			
</div>
<!-- Right Rail -->
<div class="rightRail mTopTwnThree">
	<div class="exclus">
		<div class="exclusHder">
			Exclusive
		</div>
		<div class="exclusCont">
			<p><strong>Hong Kong Disneyland
			<h3>Toy Story Land <br/> Now Open <br> Asia Exclusive</h3>
		</div>
	</div>
</div>