<!-- Main Column -->
<div id="detailCol">
			
	<div class="detailHero">
		<div class="detailHeroTitle"><span class="imgHeader">Hong Kong Park</span> Central, Hong Kong<br /></div>
		<img src="@{'public/images/china/sars/hong_kong/islands/hk_disneyland/detail.jpg'}" alt="Hong Kong Disneyland" />
	</div>
			
	<div class="deMainCol">
		<div class="detailTab">OVERVIEW</div>
		<div class="deDesCell">
			<a href="/"><img src="@{'public/images/detail/user_B.gif'}" alt="" /></a>
			<span class="orange">Beagle</span> says:
			<p>LONG DESCRIPTION - Designed to look anything but natural, Hong Kong Park is one of the most unusual parks in the world, emphasising artificial creations such as its fountain plaza, conservatory, waterfall, indoor games hall, playground, t’ai chi garden, viewing tower, museum and arts centre. For all its artifice, the eight-hectare park is beautiful in its own weird way and, with a wall of skyscrapers on one side and mountains on the other, makes for some dramatic photographs.</p>
			<div class="deBasic">
				<strong>The Basics</strong>
				<div class="deDotLine"></div>
				
					<div class="deBasicLt">
						<p><strong>Address:</strong>
						<br>19 Cotton Tree Dr,
						<br>Central, Hong Kong</p>
						<p><strong>Phone:</strong>
						<br>852-25215041</p>
					</div>
				
				<div class="deBasicRt">
					<p><strong>Hours:</strong>
					<br>Mon-Fri 9am-10pm</p>
					<p><strong>Admission:</strong>
					<br>Adult:
					<br>Child:	
				</div>
			</div>
			
			<div class="deFeature"><strong>Features</strong>
				<div class="deDotLine"></div>
					<p><ul>
					<li>Edward Youde Aviary - Birds Collection</li>
					<li>Forsgate Conservatory</li>
					<li>Old and Valuable Trees</li>
				</ul></p>
			</div>
			<div class="clear"></div>
			<div class="buttonRow"><a href="/" class="blueBtn">add to knapsack ></a></div>
		</div>
		
		<div class="detailTab">STORY</div>	
		<!-- bottom left column -->
		<div class="deUserLt">
			<div class="deDesCell">
				<a href="/"><img src="@{'public/images/detail/user_01.jpg'}" alt="" /></a>
				<span class="orange">Shannon M.</span> says:
				<div class="deDes">
				<p>DESCRIPTION - Designed to look anything but natural, Hong Kong Park is one of the most unusual parks in the world. </p>
				</div>
				<a href="/">Read More ></a>
			</div>
					
			<div class="deDesCell">
				<a href="/"><img src="@{'public/images/detail/user_02.jpg'}" alt="" /></a>
				<span class="orange">Whitter</span> says:
				<div class="deDes">
				<p>DESCRIPTION - Designed to look anything but natural, Hong Kong Park is one of the most unusual parks in the world. </p>
				</div>
				<a href="/">Read More ></a>
			</div>
		</div>
				
		<!-- bottom right column -->	
		<div class="deUserRt">
			<div class="deDesCell">
				<a href="/"><img src="@{'public/images/detail/user_03.jpg'}" alt="" /></a>
				<span class="orange">Jack</span> says:
				<div class="deDes">
					<p>DESCRIPTION - Designed to look anything but natural, Hong Kong Park is one of the most unusual parks in the world. Designed to look anything but natural, Hong Kong Park is one of the most unusual parks in the world.</p>
				</div>
				<a href="/">Read More ></a>
			</div>
				
			<div class="deDesCell">
				<a href="/"><img src="@{'public/images/detail/user_04.jpg'}" alt="" /></a>
				<span class="orange">Ross</span> says:
				<div class="deDes">
					<p>DESCRIPTION - Designed to look anything but natural, Hong Kong Park is one of the most unusual parks in the world. </p>
				</div>
				<a href="/">Read More ></a>
			</div>
		</div>
	</div>	
</div>		
			
</div>
<!-- Right Rail -->
<div class="rightRail mTopTwnThree">
	<div class="exclus">
		<div class="exclusHder">
			Exclusive
		</div>
		<div class="exclusCont">
			<p><strong>Hong Kong Disneyland
			<h3>Toy Story Land<br>Now Open <br> Asia Exclusive</h3>
		</div>
	</div>
</div>