#{extends 'app/main.html' /}
#{set title:'Detail' /}

<script src="@{'/public/javascripts/app/Detail/detail.js'}" type="text/javascript" charset="UTF-8"></script>

<!-- start frame -->
<div id="resultPage">
	<!-- Top Row -->
		<div id="logo_box">
			<div id="logo"><a href="/"><img src="@{'public/images/general/logo.png'}" alt="topofin" /></a></div>
			<!-- <div id="signIn"><a href="#">sign in / join us</a></div> -->
		</div>
		
		<div id="leftCol">
			<div class="trvTab">TRAVELER</div>
			<div class="trvHolder">
				<div class="trvBdy"><h1>Michelle C.</h1>
					<div class="trvImg"><a href="@{app.profile.index()}"><img src="@{'public/images/users/user_mauri.jpg'}" alt="Mauri Smith" /></a></div>
					<div class="trvCont">traveling from <br />Beijing, China to<br />
					<h3>Hong Kong, China</h3>
					from: <br />
					2/12 - 2/18</div>
					<div class="clear"></div>
				</div>
				<div class="locTab" id="knapsack"><strong>Your Knapsack</strong></div>
				#{if knapsacks}
	                #{list items:knapsacks, as:'knapsack'}
	                    <div class="locList" id="list${knapsack?.id}">
	                        <div class="locName">${knapsack?.displayName}</div>
	                        <div class="removeCell"><a class="removeBtn" href="#" id="lr${knapsack?.id}">Remove</a></div>
	                        <div class="clear"></div>
	                    </div>
	                #{/list}
	            #{/if}
				<div class="itnCell"><a class="itnBtn" href="@{app.itinerary.index()}">itinerary</a></div>
				
				<div class="clear"></div>
			</div>
		</div>
		
		<div id="rightCol">
				<div id="tabs"> 
					<ul>
					<li><a href="@{app.detail.detail(id)}">ATTRACTION DETAIL</a></li> 
					<li><a href="@{app.detail.area(id)}">IN THE AREA</a></li> 
					</ul> 
				</div> 
		</div>
</div>