#{extends 'app/main.html' /}
#{set title:'Search' /}

  <!-- start frame -->
  <div id="searchPage">
	<div class="schFrame">
	<div class="schLeft">
		<div class="schLogoBox">
			<div id="schLogo"><img src="@{'public/images/general/logo.png'}" alt="topofin" /></div>
			<!-- <div id="schSignIn"><a href="#">sign in / join us</a></div> -->
		</div>
		
		<div class="schCell">
			<div class="schBox"><h1>What places will you discover?</h1>
				#{form @search(), id:"searchForm"} 
					#{field 'query'}
						<input class="searchField" id="searchField" name="${field.name}" type="text" value="Search" />
					#{/field}
                    <input type="submit" value="GO" class="btnGo" />
				#{/form} 
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="schRt">
		<div class="schUserCell">
			<div class="schUserImg"><img src="@{'public/images/hm/img_user_01.jpg'}" alt="user" /></div>
			<div class="schUserDes">Susie discovered ChungKing Mansions in Hong Kong<br />
				<div class="schUserCredit"><p>photo by Susie</p></div>
				<div class="schUserAwBack"><a class="schBtnBack" href="#">Back</a></div>
				<div class="schUserAwNxt"><a class="schBtnNxt" href="#">Next</a></div>
			
			</div>
		</div>
	</div>	
	</div>
  </div>
  <!-- end frame -->