#{extends 'app/main.html' /}
#{set title:'Search' /}

  <!-- start frame -->
  <div id="searchPage">
    <div class="jflow-content-slider">
			<div id="slides">
				<div class="slide-wrapper">
					<div class="slide-thumbnail"><img src="@{'public/images/hm/img_hm_01.jpg'}" alt="photo" /></div>

					<div class="slide-details">
						<div class="userImg"><img src="@{'public/images/hm/img_user_01.jpg'}" alt="photo" /></div>
						<div class="userDes">Susie discovered ChungKing Mansions in Hong Kong <br />
						<span class="credit">photo by Susie</span></div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="slide-wrapper">
					<div class="slide-thumbnail"><img src="@{'public/images/hm/img_hm_02.jpg'}" alt="photo" /></div>

					<div class="slide-details">
						<div class="userImg"><img src="@{'public/images/hm/img_user_02.jpg'}" alt="photo" /></div>
						<div class="userDes">Keane discovered JR Wall Art in Shanghai<br />
						<span class="credit">photo by Keane</span></div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="slide-wrapper">
					<div class="slide-thumbnail"><img src="@{'public/images/hm/img_hm_03.jpg'}" alt="photo" /></div>

					<div class="slide-details">
						<div class="userImg"><img src="@{'public/images/hm/img_user_03.jpg'}" alt="photo" /></div>
						<div class="userDes">Wanchai street old style cafe in Hong Kong <br />
						<span class="credit">photo by Rob</span></div>
					</div>
					<div class="clear"></div>
				</div>
			</div>

			<div id="myController">
				<span class="jFlowPrev">« previous</span>
				<span class="jFlowControl">1</span>
				<span class="jFlowControl">2</span>
				<span class="jFlowControl">3</span>
				<span class="jFlowNext">next »</span>
			</div>
			<div class="clear"></div>
		</div>
  </div>
  <!-- end frame -->