#{extends 'app/main.html' /}
#{set title:'Profile' /}

<!-- start frame -->
<div id="resultPage">
	<!-- Top Row -->
		<div id="logo_box">
			<div id="logo"><a href="/"><img src="@{'public/images/general/logo.png'}" alt="topofin" /></a></div>
			<!-- <div id="signIn"><a href="#">sign in / join us</a></div> -->
		</div>
		
		<div id="leftCol">
			<div class="trvTab">TRAVELER</div>
			<div class="trvHolder">
				<div class="trvBdy"><h1>Michelle C.</h1>
					<div class="proImg"><img src="@{'public/images/users/profile_pic_smith.jpg'}" alt="Mauri Smith" /></div>
					<div class="proCap">
						<span class="orange"><strong>About me:</strong></span>
						<br>I love travel! You can break your lifestyle for a brief period of time and absorb a completely new culture.
					</div>
				</div>
			</div>
		</div>
		
		<div id="rightCol">
				<div id="tabs"> 
					<ul>
					<li><a href="@{app.profile.profile()}">PROFILE</a></li> 
					<li><a href="@{app.profile.trip()}">TRIPS</a></li> 
					</ul> 
				</div> 
		</div>
</div>