<!-- Main Column -->
<div id="detailCol">
	<!-- General Tab -->
	<div class="deMainCol proTopMargin proBtmNone">
		<div class="detailTab">GENERAL</div>
		<div class="deDesCell proCellMarg">
			<div class="proShrtCol">
				<ul class="list">
				<li>User Name:</li>			
				<li>Email:</li>				
				<li>Birthday:</li>
				<li>Gender:</li>			
				<li>Hometown:</li>
				</ul>
			</div>
			<div class="proShrtCol">
				<ul>
				<li>Mauri Smith</li>			
				<li>mauri@gmail.com</li>				
				<li>Feb 6, 1972</li>
				<li>Female</li>			
				<li>Hong Kong</li>
				</ul>
			</div>			
			<div class="clear"></div>
			<div class="proColLine"></div>
			<div class="proBtnRow"><a href="/" class="blueBtn">edit profile ></a></div>
		</div>
	</div>
		<!-- Your Travel Personality Tab -->
	<div class="deMainCol proTopMargin proBtmNone">
		<div class="detailTab">Your Travel Personality</div>
		<div class="deDesCell proCellMarg">
			<div class="proCol"><h3>You are art museums lover!</h3></div>
			<div class="proShrtCol">
				<div class="proNum">38</div>
				<div class="proLists">Art Museums</div>
				<div class="clear"></div>
				<div class="proNum">35</div>
				<div class="proLists">Gallary</div>
				<div class="clear"></div>
				<div class="proNum">33</div>
				<div class="proLists">Religious Site</div>
			</div>
			<div class="proShrtCol">
				<div class="proNum">29</div>
				<div class="proLists">Architecture</div>
				<div class="clear"></div>
				<div class="proNum">28</div>
				<div class="proLists">Theme Park</div>
				<div class="clear"></div>
				<div class="proNum">25</div>
				<div class="proLists">Sights</div>
			</div>	
			<div class="proShrtCol">
				<div class="proNum">22</div>
				<div class="proLists">Ride</div>
				<div class="clear"></div>
				<div class="proNum">18</div>
				<div class="proLists">Nightlife</div>
				<div class="clear"></div>
				<div class="proNum">15</div>
				<div class="proLists">Shopping</div>
			</div>
			<div class="clear"></div>	
			<div class="proColLine"></div>
			<div class="proBtnRow"><a href="/" class="blueBtn">view all ></a></div>
		</div>
	</div>
	<!-- General Tab -->
	<div class="deMainCol proTopMargin proBtmNone">
		<div class="detailTab">Places You've Been</div>
		<div class="deDesCell proCellMarg">
			<div class="proShrtCol">
				<h3>Asia</h3>
				<ul class="place">
				<li class="place">Shanghai, China</li>
				<li class="place">Guangzhou, China</li>
				<li class="place">Beijing, China</li>
				<li class="place">Silk Road, China</li>
				<li class="place">Jaisalmer, India</li>
				<li class="place">Halong Bay, Vietnam</li>
				<li class="place">Bangkok, Thailand</li>
				</ul>
			</div>
			<div class="proShrtCol">
				<h3>Europe</h3>
				<ul class="place">			
				<li class="place">Barcelona, Spain</li>
				<li class="place">Edinburgh, Scotland</li>
				<li class="place">Rome, Italy</li>
				<li class="place">Paris, France</li>
				<li class="place">Prague, Czech Republic</li>
				</ul>
			</div>
			<div class="proShrtCol">
				<h3>Central America</h3>
				<ul class="place">			
				<li class="place">Northern Cayes, Belize</li>
				</ul>
			</div>			
			<div class="clear"></div>
			<div class="proColLine"></div>
			<div class="proBtnRow"><a href="/" class="blueBtn">view all ></a></div>
		</div>
	</div>
</div>		
<!-- Right Rail -->
<div class="rightRail mTopTwnThree">
	
</div>