/* MAIN CSS */

* {
	margin:0;
	padding:0;
	border:0;
	list-style-type:none;
}
html {
	overflow-y: scroll;
}
/* -------------- LINKS -----------------*/
a {
	color:#0072bc;
	font-size: 12px;
	text-decoration:underline;
}
a:hover {
	color:#004e81;
	text-decoration:underline;
}

/* --------------  MAIN PAGE/GRID -----------------*/
body {
	font:normal 87.5% Verdana,Arial,Helvetica,sans-serif;
	margin:0 10px;
	background-color:#969696;
	color:#515151;
}
p {
	font-size: 12px;
	line-height: 12px;
	color:#000;
	padding-bottom: 5px;
}

/* logo - signIn */
/*#logo {
	position:absolute;
	top:0px;
 	left:60px;
 	width:305px;
 	height:55px;
 	z-index:5;
	background:url('../images/hm/logo_bx.png') no-repeat;
}*/

#logo_box {
	width:230px;
 	height:58px;
	z-index:5;
 	margin-left:35px;
 	margin-bottom:30px;
	background-color: #fff;
	-moz-box-shadow: 3px 3px 3px #535353;
	-webkit-box-shadow: 3px 3px 3px #535353;
	box-shadow: 3px 3px 3px #535353;
}
#logo {
	float:left;
	width:180px;
	z-index:5;
	padding: 15px 0 0 15px;
}
#signIn {
	float:left;
	z-index:5;
	width:340px;
	text-align:right;
	padding-top:38px;
	padding-right:15px;
}

/* --------------  home search REWORK -----------------*/

#searchPage {
	position:relative;
	width:1200px;
	margin:0 auto;
}

.schFrame {
	width:1200px;
	height:800px;
	background:url('../images/hm/img_hm_01.jpg');
}

.schLeft {
	float: left;
	width:700px;
	height:800px;
}
.schRt {
	float: left;
	width:500px;
	height:800px;
}

/* search REWORK Logo - SignIn*/
.schLogoBox {
	width:230px;
 	height:58px;
	z-index:5;
 	margin-left:35px;
 	margin-bottom:282px;
	background-color: #fff;
	-moz-box-shadow: 3px 3px 3px #535353;
	-webkit-box-shadow: 3px 3px 3px #535353;
	box-shadow: 3px 3px 3px #535353;
}
#schLogo {
	float:left;
	width:180px;
	padding: 15px 0 0 15px;
}
#schSignIn {
	float:left;
	width:135px;
	text-align:right;
	padding-top:38px;
	padding-right:15px;
}

/* search REWORK SearchField*/

.schCell {
	width:465px;
 	/*height:100px;*/
	height: auto !important; 
        height: 1%;
	margin:0 0 20px 35px;
 	background-color: #f1581c; /*oragne color*/
	-moz-box-shadow: 3px 3px 3px #535353;
	-webkit-box-shadow: 3px 3px 3px #535353;
	box-shadow: 3px 3px 3px #535353;
}
.schBox {
	padding: 10px 0 0 15px;
}
.schBox h1{
	font-size: 25px;
   	color: #fff;
	padding-bottom: 8px;
}
.btnGoBox {
	float: left;
	margin-left:5px;
	background-color: #333;
}
.btnGo {
	float: left;
	display:block;
	margin-left:5px;
	color:#6e6e6e;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:19px;
	width:45px;
	height:37px;
	text-align: center;
	border-width: 1px;
   	border-style: solid;
   	border-color: #3d3d3d; 
	text-decoration:none;
	cursor: pointer;
	background:url('../images/hm/btnGo_bg.gif') repeat-x;
}
.btnGo:hover {
	color:#3e3e3e;
	background:url('../images/hm/btnGo_bg_hover.gif') repeat-x;
	text-decoration:none;
}

/* search REWORK UserBox*/
.schUserCell {
	width:255px;
	height:86px;
	margin-top:500px;
	float: right;
	background-color: #4d4c4c;
	-moz-box-shadow: -3px 3px 3px #535353;
	-webkit-box-shadow: -3px 3px 3px #535353;
	box-shadow: -3px 3px 3px #535353;
	}
.schUserImg {
	float: left;
	width:70px;
 	height:70px;
	padding: 8px;
}
.schUserDes {
	float: left;
	width:160px;
	padding-top: 8px;
	font-size: 11px;
   	color: #fff;
}
.schUserDes p {
	font-size: 9px;
   	font-style: italic;
   	color: #fff;
}
.schUserCredit {
	float: left;
	width:130px;
	padding-top: 8px;
	font-size: 11px;
   	color: #fff;
}
.schUserAwBack {
	float: left;
	width:15px;
	padding-top: 10px;
}
.schUserAwNxt {
	float: left;
	width:10px;
	padding-top: 10px;
}
.schBtnNxt {
	display: block;
 	text-indent:-999em;
	background:url('/public/images/hm/btn_arw_nxt.png') no-repeat;
}
.schBtnNxt:hover {
	background:url('/public/images/hm/btn_arw_nxt_hover.png') no-repeat;
}

.schBtnBack {
	display: block;
 	text-indent:-999em;
	background:url('/public/images/hm/btn_arw_back.png') no-repeat;
}
.schBtnBack:hover {
	background:url('/public/images/hm/btn_arw_back_hover.png') no-repeat;
}

/* --------------  end home search REWORK -----------------*/


/* -----------------------Result Page------------------------ */
#resultPage {
	position:relative;
	width:1200px;
	margin:0 auto;
	background: #fff url('../images/general/nav_bg.jpg') no-repeat;
	overflow: hidden;
}

#leftCol {
	float:left;
	width:230px;
	margin:0 30px 0 35px;
}
.trvTab {
	color: #fff;
	width:220px;
	height:19px;
	padding:3px 0 0 10px;
	background-color:#737373;
}
.trvHolder {
	border:1px solid #737373;
	margin-bottom:20px;
	background-color:#e5e5e5;
}
.trvBdy {
	width:218px;
	font-size: 11px;
	line-height: 13px;
	color: #515151;
	padding:10px 0 0 10px;
	margin-bottom:20px;
}
.trvBdy h1 {
	color:#515151;
	font-size: 12px;
}
.trvImg {
	float: left;
	width:48px;
	height:48px;
	margin-top: 5px;
	border:1px solid #737373;
}
.trvCont {
	float: left;
	margin-top: 5px;
	padding: 0 10px 0 10px;
}
.trvCont h3 {
	color:#ff3c00;
	font-size: 12px;
	line-height: 15px;
}
.locTab {
	width:218px;
	height:15px;
	font-size: 11px;
	line-height: 13px;
	color: #515151;
	padding:5px 0 0 10px;
	border-top:2px solid #737373;
	border-bottom:1px solid #737373;
}
.locList {
	width: 218px;
	font-size: 11px;
	line-height: 13px;
	color: #515151;
	padding:5px 0 5px 10px;
	border-bottom:1px solid #ababab;
}
.locName {
	float: left;
	width:190px;
	font-size: 11px;
	line-height: 13px;
}
.removeCell {
	float: left;
	width:18px;
 	height:13px;
}
.removeBtn {
	display: block;
 	text-indent:-999em;
	background:url('/public/images/general/btn_remove.gif') no-repeat;
}
.removeBtn:hover {
	background:url('/public/images/general/btn_remove_hover.gif') no-repeat;
}
.itnCell {
	float: left;
	width:70px;
	margin: 5px 15px 5px 150px;
}
.itnBtn {
	display: block;
	height:17px;
 	text-indent:-999em;
	background:url('/public/images/general/btn_itinerary.gif') no-repeat;
}
.itnBtn:hover {
	background:url('/public/images/general/btn_itinerary_hover.gif') no-repeat;
}

.moreCell {
	float: right;
	width:53px;
	margin-bottom: 25px;
}
.moreBtn {
	display: block;
	height:17px;
 	text-indent:-999em;
	background:url('/public/images/general/btn_more.gif') no-repeat;
}
.moreBtn:hover {
	background:url('/public/images/general/btn_more_hover.gif') no-repeat;
}


#rightCol {
	float:left;
	width:905px;
}

.contentImg {
	width:870px;
	font-size: 12px;
	line-height: 20px;
	font-style: italic;
	color: #3e3e3e;
}
.imgHeader {
	font-family: Georgia, Times, serif; 
	font-size: 18px;
	line-height: 18px;
	font-style: normal;
	color: #3e3e3e;
	margin-bottom: 10px;
}
.heroImg {
	padding-bottom: 30px;
}
.bdyImg {
	float: left;
	width:270px;
	padding-bottom: 30px;
	padding-right: 30px;
}
.bdyImgLst {
	float: left;
	width:270px;
	padding-bottom: 0px;
}
.clear {
	clear:both;
}
/* REVISED LAYOUT FOR TITLE WRAP */
.resultTitleCell {
	width:870px;
	margin-bottom: 5px;
}
.resultImgCell {
	width:870px;
	margin-bottom: 30px;
}
.resultList {
	float: left;
	width:270px;
	margin-right: 30px;
}
.resultListLst {
	float: left;
	width:270px;
}
/* END REVISED LAYOUT FOR TITLE WRAP */

/* Image Rollover Box */
.infoboxHr {
	position:relative;
   	width:870px;
	height: 320px;
	}
.infoboxHr img {
	position:relative;
	z-index:1;
   }
.infoboxHr .content {
	display:none;
   }
.infoboxHr:hover .content {
	display:block;
   	position:absolute;
   	width:270px;
   	height:100px;
   	z-index:2;
   	left:0px;
   	bottom:0px;
   }

.infobox {
	position:relative;
   	width:270px;
	height: 200px;
	}
.infobox img {
	position:relative;
	z-index:1;
   }
.infobox .content {
	display:none;
   }
.infobox:hover .content {
	display:block;
   	position:absolute;
   	width:270px;
   	height:100px;
   	z-index:2;
   	left:0px;
   	bottom:0px;
   }
.boxDes {
	width:270px;
 	height:83px;
 	background-color:#333;
 	opacity:0.8;
 	filter:alpha(opacity=80)
}
.boxDes p {
	padding: 5px 10px;
	font: 12px Verdana, Helvetica, sans-serif;
	color: #fff;
}
/* Image Rollover Box Button*/
.addBtn {
	float: left;
	cursor:pointer;
	width:52px;
 	height:17px;
 	text-indent:-999em;
	background:url('/public/images/general/btn_add.gif') no-repeat;
}
.addBtn:hover {
	background:url('/public/images/general/btn_add_hover.gif') no-repeat;
}
.dismissBtn {
	float: left;
	cursor:pointer;
	width:75px;
 	height:17px;
 	text-indent:-999em;
 	margin-left: 10px;
	background:url('/public/images/general/btn_dismiss.gif') no-repeat;
}
.dismissBtn:hover {
	background:url('/public/images/general/btn_dismiss_hover.gif') no-repeat;
}

/*pagination*/
.pagination {
	height: 50px;
	font: 10px Verdana, Helvetica, sans-serif;
	margin-bottom: 20px;
}

.pagination ul{
margin: 0;
padding: 0;
text-align: right; /*Set to "right" to right align pagination interface*/
}

.pagination li{
list-style-type: none;
display: inline;
padding-bottom: 1px;
color: #515151;
}

.pagination a, .pagination a:visited{
padding: 0 5px;
text-decoration: none;
color: #515151;
}

.pagination a:hover, .pagination a:active{
color: #fff;
background-color: #0072bc;
}

.pagination a.currentpage{
background-color: #969696;
color: #FFF !important;
cursor: default;
}

.pagination a.disablelink, .pagination a.disablelink:hover{
background-color: white;
cursor: default;
color: #969696;
font-weight: normal !important;
}

.pagination a.prevnext{
font-weight: normal;
}

/*pagination*/
/* -----------------------Result Page------------------------ */


/* -----------------------Detail Page------------------------ */

.ovCell {
	font-size: 12px;
	border:1px solid #737373;
	border-top:0;
	border-bottom-style:dotted;
	padding:5px 10px;
	background-color:#e5e5e5;
}
.ovCellFst {
	padding: 10px 50px;
	border-top:1px solid #737373;
}
.ovCellCenter {
	text-align: center;
}
.ovCellLst {
	font-size: 12px;
	border:1px solid #737373;
	border-top:0;
	border-bottom-style:solid;
	padding:5px 10px;
	background-color:#e5e5e5;
	border-bottom-style:solid;
}
.blueBtn {
	display: block;
	font-size: 11px;
	padding:3px 7px;
	border:1px solid #013b60;
	color: #fff;
	text-align: center;
	background-color:#0072bc;
	text-decoration: none;
}
.blueBtn:hover {
	color: #3b3b3b;
	text-decoration: none;
}
.ovCell ul {
	font-size: 11px;
	padding-bottom: 5px;
}
.ovCellLst ul {
	font-size: 11px;
	padding-left:13px;
}
.ovCellLst li {
	list-style-type:disc;
	list-style-position:inside;
	text-indent:-11px;
	padding-bottom: 5px;
}
.detailNav {
	width: 870px;
	height: 30px;
	background:url('/public/images/general/nav_bar_bg.gif') repeat-x;
	}
.detailNavBox {
	display: block;
	width: 160px;
	height: 30px;
	float:left;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
	padding-top:3px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	}
.detailNavBox:hover {
	color: #fff;
	text-decoration: none;
	background:url('/public/images/general/nav_selected_bg_hover.gif') no-repeat;
	}
.detailNavSelect {
	float:left;
	display: block;
	width: 160px;
	height: 30px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
	padding-top:3px;
	color: #fff;
	text-align: center;
	background:url('/public/images/general/nav_selected_bg.gif') no-repeat;
	}
.detailHero {
	font-size: 12px;
	line-height: 10px;
	font-style: italic;
	margin-top: 10px;
	width: 870px;
	}
.detailHeroTitle {
	padding-bottom: 5px;
	}
.deMainCol {
	float: left;
	width: 570px;
	margin: 30px 0;
	background-color: #fff;
	}

.detailTab {
	width: 425px;
	height: 17px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	float:left;
	color: #fff;
	padding: 2px 0 2px 10px;
	background-color: #737373;
}
.detailTabBtn {
	width: 135px;
	float:left;
	color: #fff;
	background-color: #737373;
}
.deRightRail {
	float: left;
	width: 270px;
	margin: 30px 0 30px 30px;
	}
.deRailTab {
	color: #fff;
	height: 17px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	padding: 2px 0 2px 10px;
	background-color: #737373;
	}
.deRailContCell {
	padding: 10px;
	border:1px solid #737373;
	background-color: #f5f5f5;
	}
.deRailContent 	{
	padding: 0 0 10px 0;
	}
.deRailContent p {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:14px;
	color: #515151;
	padding: 0 0 10px 0;
	}
.deDesCell {
	margin-top: 16px;
	padding: 10px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size:13px;
	color: #515151;
	border:1px solid #737373;
	background-color: #f5f5f5;
	}
.deDesCell p {
	padding: 5px 0;
	color: #515151;
	line-height: 15px;
	}
.deUserLt {
	float: left;
	width: 277px;
	}
.deUserRt {
	float: left;
	width: 277px;
	margin-left: 16px;
	}
.deDes {
	height: 45px;
	padding: 5px 0;
	margin-bottom: 10px;
	color: #515151;
	line-height: 15px;
	overflow: hidden;
	}
.orange {
	color: #f86335;
	}
		