/* MAIN CSS */

* {
	margin:0;
	padding:0;
	border:0;
	list-style-type:none;
}
html {
	height:101%;
}
/* -------------- LINKS -----------------*/
a {
	color:#0072bc;
	font-size: 12px;
	text-decoration:underline;
}
a:hover {
	color:#004e81;
	text-decoration:underline;
}

/* --------------  MAIN PAGE/GRID -----------------*/
body {
	font:normal 87.5%/1.5em Arial,Helvetica,Verdana,sans-serif;
	margin:0 10px;
	background-color:#969696;
	color:#515151;
}
p {
	font-size: 12px;
	line-height: 12px;
	color:#000;
	padding-bottom: 5px;
}
#frame {
	position:relative;
	width:1200px;
	margin:0 auto;
	background-color:#fff;
}

/* --------------  home search -----------------*/
/* logo - signIn */
#logo {
	position:absolute;
	top:0px;
 	left:60px;
 	width:305px;
 	height:55px;
 	z-index:5;
	background:url('../images/hm/logo_bx.png') no-repeat;
}
#signIn {
	width:290px;
	text-align:right;
	padding-top:30px;
	padding-right:15px;
}
/* search */
#searchbox {
	position:absolute;
	top:330px;
 	left:60px;
 	width:435px;
 	height:70px;
 	z-index:5;
 	padding:15px;
	background-color:#f1581c;
}
#searchbox h1 {
	color:#fff;
	padding-bottom:15px;
}
.fieldBox {
	float: left;
}
.searchBtn {
	float: left;
}
.btn {
	display:block;
	color:#6e6e6e;
	font-size:19px;
	width:45px;
	height:27px;
	text-align: center;
	padding-top: 8px;
	border-width: 1px;
   border-style: solid;
   border-color: #3d3d3d; 
	text-decoration:none;
	background:url('../images/hm/btn_bg.gif') repeat-x;
}
.btn:hover {
	color:#3e3e3e;
	background:url('../images/hm/btn_bg_hover.gif') repeat-x;
	text-decoration:none;
}
.SearchField {
    border-width: 1px;
    border-style: solid;
    border-color: #3d3d3d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #6e6c6c;
    padding-left:5px;
    background-color:#ebebeb;
    width: 380px;
    height: 35px;
}
/* hero image - user box */
.heroImage {
	position:absolute;
	top:0px;
 	left:0px;
	width:1200px;
	z-index:1;
}
div.userBox {
	display:block;
	position:absolute;
	/*top:530px;*/
 	right:0px;
 	bottom:0px;
 	width:238px;
 	height:83px;
 	padding: 7px 10px 0 12px;
 	color:#fff;
 	font-size: 0.9em;
	line-height: 1.3em;
	background:url('../images/hm/hm_user_box_bg.png') no-repeat;
	z-index:2;
}
.userBox p {
	color:#fff;
}
.hmUser {
	float: left;
	padding-right: 10px;
}
.credit {
	color:#fff;
 	font-size: 0.8em;
	line-height: 3.5em;
	font-style: italic;
}
/* user box arrow */
.backArw {
	position:absolute;
	cursor:pointer;
	top:596px;
 	right:30px;
 	width:10px;
 	height:10px;
 	text-indent:-999em;
	background:url('../images/hm/btn_arw_back.png') no-repeat;
	z-index:3;
}
.backArw:hover {
	background:url('../images/hm/btn_arw_back_hover.png') no-repeat;
}
.nxtArw {
	position:absolute;
	cursor:pointer;
	top:596px;
 	right:15px;
 	width:10px;
 	height:10px;
 	text-indent:-999em;
	background:url('../images/hm/btn_arw_nxt.png') no-repeat;
	z-index:3;
}
.nxtArw:hover {
	background:url('../images/hm/btn_arw_nxt_hover.png') no-repeat;
}

/* Result Page */
.topImageBg {
	position:absolute;
	top:0px;
 	left:0px;
	width:1200px;
	height:111px;
	z-index:1;
	background:url('../images/general/top_bg.jpg') no-repeat;
}
#logo_row {
	position:relative;
	width:1200px;
 	height:88px;
	background:url('../images/general/logo_bg.jpg') no-repeat;
}
#logo_box {
	width:305px;
 	height:55px;
 	margin-left:35px;
	background:url('../images/hm/logo_bx.png') no-repeat;
}
#nav_row {
	position:relative;
	width:1200px;
 	height:88px;
	background:url('../images/general/logo_bg.jpg') no-repeat;
}