#{extends 'app/main.html' /}
#{set title:'Itinerary' /}

<!-- itinerary -->
<script src="@{'/public/javascripts/jquery-easyexpand.js'}" type="text/javascript" charset="UTF-8"></script>
<script src="@{'/public/javascripts/jquery-expand_2.js'}" type="text/javascript" charset="UTF-8"></script>

<!-- start frame -->
<div id="resultPage">
<!-- Top Row -->
	<div id="logo_box">
		<div id="logo"><a href="/"><img src="@{'public/images/general/logo.png'}" alt="topofin" /></a></div>
		<!-- <div id="signIn"><a href="#">sign in / join us</a></div> -->
	</div>
<!-- Traveler Column -->		
	<div id="leftCol">
		<div class="trvTab">TRAVELER</div>
		<div class="trvHolder">
			<div class="trvBdy"><a href="@{app.profile.index()}"><h1>Mauri Smith</h1></a>
				<div class="trvImg"><a href="@{app.profile.index()}"><img src="@{'public/images/users/user_mauri.jpg'}" alt="Mauri Smith" /></div></a>
				<div class="trvCont">heading towards:<br />
					<h3>Hong Kong, China</h3>
					from: <br />
					8/2 - 12/2</div>
				<div class="clear"></div>
			</div>
			<div class="locTab" id="knapsack"><strong>Your knapsack</strong></div>
            #{if knapsacks}
                #{list items:knapsacks, as:'knapsack'}
                    <div class="locList" id="list${knapsack?.id}">
                        <div class="locName">${knapsack?.displayName}</div>
                        <div class="clear"></div>
                    </div>
                #{/list}
            #{/if}
			<div class="itnCell"><a class="itnBtn" href="@{app.itinerary.index()}">itinerary</a></div>
			<div class="clear"></div>
		</div>
	</div>
		
<!-- Main Column -->
	<div id="rightCol">
		<!-- NAV -->
		<div class="allNav">
			<div class="allNavSelect">ATTRACTION</div>
			<a class="allNavBox" href="#">MAP</a>
		</div>
			
		<div id="centerCol">
			<!-- Date Cell 1 -->
			<div class="outer-container">
				<div class="button-container"><span>Wednesday - 8 Feb, 2012</span></div>
				<div class="open">
<!-- info 1 -->		<div class="innerCell">
						<div class="innerCellLeft">
							<div class="squareNum orangeNum">1</div>
						</div>
						<div class="innerCellCenter"><strong>Hong Kong Art Museum</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
						<div class="innerDotLine"></div>
					</div>
					
<!-- info 2 -->		<div class="innerCell">
						<div class="innerCellLeft">
							<div class="squareNum orangeNum">2</div>
						</div>
						<div class="innerCellCenter"><strong>IFC Tower</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<!-- END OF Date Cell 1	-->
			
			<!-- Date Cell 2 -->
			<div class="outer-container">
				<div class="button-container"><span>Thursday - 9 Feb, 2012</span></div>
				<div class="closed">
<!-- info 1 -->		<div class="innerCell">
						<div class="innerCellLeft">
							<div class="squareNum blueNum">1</div>
						</div>
						<div class="innerCellCenter"><strong>Hong Kong Art Museum</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
						<div class="innerDotLine"></div>
					</div>
					
<!-- info 2 -->		<div class="innerCell">
						<div class="innerCellLeft">
							<div class="squareNum blueNum">2</div>
						</div>
						<div class="innerCellCenter"><strong>IFC Tower</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<!-- END OF Date Cell 2	-->
			
			<!-- Date Cell 3 -->
			<div class="outer-container">
				<div class="button-container"><span>Friday - 10 Feb, 2012</span></div>
				<div class="closed">
<!-- info 1 -->		<div class="innerCell">
						<div class="innerCellLeft">
							<div class="squareNum greenNum">1</div>
						</div>
						<div class="innerCellCenter"><strong>Hong Kong Art Museum</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
						<div class="innerDotLine"></div>
					</div>
					
<!-- info 2 -->		<div class="innerCell">
						<div class="innerCellLeft">
							<div class="squareNum greenNum">2</div>
						</div>
						<div class="innerCellCenter"><strong>IFC Tower</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<!-- END OF Date Cell 3	-->
			<!-- Date Cell 4 -->
			<div class="outer-container">
				<div class="button-container"><span>Saturday - 11 Feb, 2012</span></div>
				<div class="closed">
<!-- info 1 -->		<div class="innerCell">
						<div class="innerCellLeft">
							<div class="squareNum redNum">1</div>
						</div>
						<div class="innerCellCenter"><strong>Hong Kong Art Museum</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
						<div class="innerDotLine"></div>
					</div>
					
<!-- info 2 -->		<div class="innerCell">
						<div class="innerCellLeft">
							<div class="squareNum redNum">2</div>
						</div>
						<div class="innerCellCenter"><strong>IFC Tower</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<!-- END OF Date Cell 4	-->
			<!-- Date Cell 5 -->
			<div class="outer-container">
				<div class="button-container"><span>Sunday - 12 Feb, 2012</span></div>
				<div class="closed">
<!-- info 1 -->		<div class="innerCell">
						<div class="innerCellLeft">
							<div class="squareNum grayNum">1</div>
						</div>
						<div class="innerCellCenter"><strong>Hong Kong Art Museum</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
						<div class="innerDotLine"></div>
					</div>
					
<!-- info 2 -->		<div class="innerCell">
						<div class="innerCellLeft">
							<div class="squareNum grayNum">2</div>
						</div>
						<div class="innerCellCenter"><strong>IFC Tower</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<!-- END OF Date Cell 5	-->
		</div>
		
		<!-- Right Rail -->
		<div class="rightRail mTopThirty">
			<div class="exclus">
				<div class="exclusHder">
					Exclusive
				</div>
				<div class="exclusCont rtDotLine">
					<p><strong>Cosmopolitan Hotel
					<br>Hong Kong</strong></p>
					<p>2/8 - 2/12 
					<br>5 nights</p>
					<h3>$350 USD</h3>
				</div>
				<div class="exclusCont">
					<p><strong>International Art Fair 
					<br>Hong Kong</strong></p>
					<p>2/10 - 2/13</p>
					<h3>Early Register<br>$50 USD</h3>
				</div>
			</div>
			<div class="promo">
				<div class="promoHder">
					Flight Estimate
				</div>
				<div class="promoCont rtLine">
					<p>San Francisco to Hong Kong</p>
					<h3>$800-1100 USD</h3>
				</div>
				<div class="promoCont">
					<p>Get exact rates and books a flight with</p>
					<p><img src="@{'public/images/general/logo_hipmunk.png'}" alt="Hipmunk" /></p>
				</div>
			</div>
			<div class="promo">
				<div class="promoHder">
					Find a place to stay
				</div>
				<div class="promoCont">
					<p>The Park Apartment<br>Causeway Bay</p>
					<h3>$450 USD</h3>
					<p><img src="@{'public/images/general/logo_airbnb.png'}" alt="Airbnb" /></p>
				</div>
			</div>
		</div>
	</div>
</div>