#{extends 'app/main.html' /}
#{set title:'Itinerary' /}

<!-- start frame -->
<div id="resultPage">
<!-- Top Row -->
	<div id="logo_box">
		<div id="logo"><a href="/"><img src="@{'public/images/general/logo.png'}" alt="topofin" /></a></div>
		<!-- <div id="signIn"><a href="#">sign in / join us</a></div> -->
	</div>
<!-- Traveler Column -->		
	<div id="leftCol">
		<div class="trvTab">TRAVELER</div>
		<div class="trvHolder">
			<div class="trvBdy"><h1>Mauri Smith</h1>
				<div class="trvImg"><img src="@{'public/images/users/user_mauri.jpg'}" alt="Mauri Smith" /></div>
				<div class="trvCont">heading towards:<br />
					<h3>Hong Kong, China</h3>
					from: <br />
					8/2 - 12/2</div>
				<div class="clear"></div>
					<!-- <br />
										&nbsp;&nbsp;&nbsp;with 6 companies<br />
										<img src="@{'public/images/users/FPO_companies.png'}" alt="FPO" /> -->
			</div>
			<div class="locTab" id="knapsack"><strong>Your knapsack</strong></div>
            #{if locations}
                #{list items:locations, as:'location'}
                    <div class="locList" id="${location?.id}">
                        <div class="locName">${location?.displayName}</div>
                        <div class="clear"></div>
                    </div>
                #{/list}
            #{/if}
			<div class="itnCell"><a class="itnBtn" href="#">itinerary</a></div>
			<div class="clear"></div>
		</div>
	</div>
		
<!-- Main Column -->
	<div id="rightCol">
		<!-- NAV -->
		<div class="detailNav">
			<div class="detailNavSelect">ATTRACTION</div>
			<a class="detailNavBox" href="#">MAP</a>
		</div>
			
		<div id="centerCol">
			<!-- Date Cell 1 -->
			<div class="outer-container">
				<div class="button-container"><span>Wednesday - 8 Feb, 2012</span></div>
				<div class="open">
					<div class="innerCell">
						<div class="innerCellLeft">
							<div class="orangeNum">1</div>
						</div>
						<div class="innerCellCenter"><strong>Hong Kong Art Museum</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
							<strong>Transportation:</strong>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
						<div class="innerDotLine"></div>
					</div>
					
					<div class="innerCell">
						<div class="innerCellLeft">
							<div class="orangeNum">1</div>
						</div>
						<div class="innerCellCenter"><strong>IFC Tower</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
							<strong>Transportation:</strong>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
						<div class="innerDotLine"></div>
					</div>
				</div>
			</div>
			<!-- END OF Date Cell 1	-->	
			<!-- Date Cell 2 -->
			<div class="outer-container">
				<div class="button-container"><span>Thursday - 9 Feb, 2012</span></div>
				<div class="closed">
					<div class="innerCell">
						<div class="innerCellLeft">
							<div class="orangeNum">1</div>
						</div>
						<div class="innerCellCenter"><strong>Hong Kong Art Museum</strong><br>
							<strong>Address:</strong> 19 Cotton Tree Dr, Central, Hong Kong<br>
							<strong>Phone:</strong> 852-25215041<br>
							<strong>Hours:</strong> Monday-Friday 9am-10pm<br>
							<strong>Transportation:</strong>
						</div>
						<div class="innerCellRight">
							<a href="#" class="removeBtn">Remove</a>
						</div>
						<div class="clear"></div>
						<div class="innerDotLine"></div>
					</div>										
				</div>	
			</div>
			<!-- END OF Date Cell 2	-->	
			<!-- Date Cell 3 -->
			<div class="outer-container">
				<div class="button-container"><span>Friday - 10 Feb, 2012</span></div>
					<div class="closed">
						one two there										
					</div>	
			</div>
			<!-- END OF Date Cell 3	-->
		</div>
			
		<!-- Right Rail -->
		<div id="rightRail">
			123
		</div>
	</div>
</div>